body {
    background: #007fc7;
    margin: 10px;
}
#container {
    background: #fff;
    margin: 10px auto;
    

}
p {
    width: 400px;
}
.relative {
    border: 1px red solid ;
    position: relative;
    top: 20px;
    left: 80px;
    /* 
    top, left, right, bottom
    pode usar valores negativos (-20px) */
}

/* position static é a normal */
.absolute {
    border: 1px green solid ;
    position: absolute;
    right: 30px; 
}
.fixed {
    border: 1px yellow solid ;
    position: fixed;
    bottom: 0px;
}
/* 
fixed é bom para chats */